[Desktop Entry]
Encoding=UTF-8
Name=Yank
Comment=Yank P2P Cryptocurrency
Comment[fr]=Yank, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Yank, eşten eşe kriptografik sanal para birimi
Exec=yank-qt %u
Terminal=false
Type=Application
Icon=yank128
MimeType=x-scheme-handler/yank;
Categories=Office;Finance;
