[Unit]
Description=Yank's distributed currency daemon
After=network.target

[Service]
User=yank
Group=yank

Type=forking
PIDFile=/var/lib/yankd/yankd.pid
ExecStart=/usr/bin/yankd -daemon -pid=/var/lib/yankd/yankd.pid \
-conf=/etc/yank/yank.conf -datadir=/var/lib/yankd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
